table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: top;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  