table {
  width: 300px;
  border-collapse: collapse; /* Prevents gaps between borders if any */
}

th {
  border: none; /* Removes the borders of table cells */
  padding: 8px; /* Adds padding for better spacing */
  text-align: left;
}

/* Optional: Remove bullet points from the list */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.p1 {
  margin-top: 40px;
}

  